body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #050505;
  color: white;
  padding: 40px;
}

input[type="button"] {
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 30px;
  background-color: white;
  cursor: pointer;
}


